<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Úvodní stránka</title>

    <style>
        body {
            width: 800px;
            margin: auto;
        }

        footer {
            font-style: italic;
        }
    </style>
</head>

<body>
    <h1>Úvodní stránka</h1>
    <p> Vítej na úvodní stránce. Nic tu není, ale mohlo by být. </p>
    <p> Prozatím se spokojíme s lorem ipsum. </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo error tempora architecto optio minus
        excepturi a earum cum facilis necessitatibus sed corrupti natus vitae, molestiae aut quibusdam. Fugiat, aperiam
        asperiores!
    </p>
    <footer>
        <hr>
        <p>Autor webu: {{ site_author }}</p>
    </footer>
</body>

</html>